{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to GSD</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>
<body>
  <script> type=""</script> --}}
  <h1>Profile for Users</h1>
  <section class="galleries">
  {{#each users as |user|}}
  {{ user.user_name }}
  {{ user.password }}
  {{/each}}

  {{#each tasks as |task|}}
  {{ task.task_description }}
  {{/each}}

  {{#each lists as |list|}}
  {{ list.list_name }}
  {{/each}}
</section>
{{!-- </body>
</html> --}}
