
  <h1>Profile for Users</h1>
  <section class="galleries">
  {{#each users as |user|}}
  {{ user.user_name }}
  {{ user.password }}
  {{/each}}

  {{#each tasks as |task|}}
  {{ task.task_description }}
  {{/each}}

  {{#each lists as |list|}}
  {{ list.list_name }}
  {{/each}}
</section>

